input[type="text"] {
  padding: 6px;

  font-size: 32px;

  border: 1px solid #3d3d3d;

  background-color: #fff;
  color: #030303;
}

button {
  margin: 12px;
  padding: 6px;

  font-size: 32px;

  border: 6px solid transparent;

  background-color: #4071bf;
  color: #fff;

  box-sizing: border-box;

  transition: all 250ms ease;
}

button:hover {
  cursor: pointer;
  
  padding: 12px;
  border: 6px solid #fff;

  background-color: #3c83b9;
}
