@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,200,300);

*, body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

body {
  background-color: #a6d728;
}

.center {
  text-align: center;
  margin: 0 auto !important;
}

/** HOME **/
.home {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;

  text-align: center;
}

/** GAME **/
.game-container {
  width: 600px;

  margin: 0 auto;

  text-align: center;
}

.game-container ul li {
  list-style: none;
}

/** LOBBY **/
.participant.self {
  font-weight: bold;
  color: #990000;
}

/** VOTING **/
.answer-item {
  display: inline-block;

  margin: 8px;
  padding: 16px;

  text-align: center;
  color: #fff;

  border: 1px solid #303030;
  background-color: #7e5ea1;

  transition: all 250ms ease;
}

.answer-item.hide {
  display: none;
}

.answer-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.answer-item:hover,
.answer-item.selected {
  cursor: pointer;
  background-color: #3b7bc4;
}
